body {
    height: 100%;
}
#fabu {
    height: 100%;
    display: flex;
    flex-direction: column;
    .header {
        height: 60px;
        display: flex;
        width: 100%;
        border-bottom: solid 1px #e6e6e6;
        .input {
            width: 100%;
            padding-left: 30px;
            line-height: 60px;
            input {
                width: 99%;
                height: 20px;
                padding: 8px;
                font-size: 20px;
                font-weight: bolder;
                border: none;
            }
        }
        .button {
            padding: 10px 0 0 30px;
        }
        .txBox {
            padding: 0 20px;
            i {
                display: none;
            }
            img {
                width: 28px;
            }
            .el-menu {
                border: none;
            }
        }
    }
    .ueditor {
        padding: 0 8px 0 5px;
        min-height: 200px;
        flex: 1;
    }
}

// 头像外部下拉框
.tx {
    top: 56px !important;
    .el-menu--popup {
        min-width: 100px;
        div {
            height: 1px;
            background-color: #beb7bb;
            margin: 0;
        }
        li {
            text-align: center;
        }
    }
}